/* Banner con imagen de fondo */
.banner {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta la altura del banner */
    background-image: url('../assets/banner.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; /* Centrar la imagen */
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;
    text-align: center;
    padding: 20px; /* Espaciado interno */
  }
  
  .banner-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  
  .banner-text p {
    font-size: 1.2rem;
    max-width: 600px; /* Limitar el tamaño del texto para que no se vea desordenado */
    margin: 0 auto; /* Centrar el párrafo */
    line-height: 1.5;
    font-weight: normal;
  }
  
  /* Efecto de opacidad para texto en fondo de imagen */
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.401); /* Fondo semitransparente para mejorar la legibilidad */
    z-index: 1; /* Para que el texto esté por encima de la capa de fondo */
  }
  
  .banner-text {
    position: relative;
    z-index: 2; /* Asegurar que el texto esté por encima del fondo */
  }
  